tmp.*
tmp/*

*.egg-info/*
.vscode/*
.venv
.mypy_cache

__pycache__

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.gz
**/*.log
**/*.out
**/*.run.xml
**/_minted*

# specific files
proposal.pdf
