# temporary files
tmp.*
tmp/*

# environment
*.egg-info
.mypy_cache
.ruff_cache
.vscode/*
.venv
__pycache__

# latex
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.gz
**/*.log
**/*.out
**/*.run.xml
**/_minted*

# specific files
proposal.pdf
